@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Oswald);

header {
  color: rgb(255, 255, 255);
  background-color: rgb(40,40,43);
  height: 70px;
  width: 1440px;
  position: fixed;
  top: 0px;
  z-index: 500;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 14px;
}

.contents {
  margin: 0 180px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 

h1{
  

}

h1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-size: 26px;
}


.header-nav {
  display: flex;
  letter-spacing: 0.75px;
  list-style: none;
  width: 600px;
  font-family: Oswald, sans-serif;
}

.header-nav li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

